
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Supplies</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="~/Assets/Client/css/service_style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/Client/vendor/fontawesome-free/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/ff1f89259c.js" crossorigin="anonymous"></script>
    <link href="~/Assets/Client/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/Client/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>
    <!--navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-branch" href="#">
                <img src="~/Assets/Client/images/Luc.png" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            @{ Html.RenderAction("MainMenu", "Home");}
        </div>
    </nav>

    <div class="container-wrap">
        <div class="container main-content">
            <div class="col-lg-6">

                <img src="~/Assets/Client/images/SieuAm.PNG" class="img-fluid" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <h1>Siêu âm thai</h1>
                <p>Không chỉ đơn thuần là kiểm tra xem số lượng thai nhi trong bụng thú cưng. Nhờ công nghệ độc nhất chỉ có trên máy siêu âm thú y, bác sĩ có thể đo đạc và dự kiến kỳ sinh nở của vật nuôi; chẩn đoán số lượng, cử động thai, tim thai, nước ối…Từ đó có chế độ dinh dưỡng và chăm sóc hợp lý. </p>
                <p>Từ các kết quả siêu âm thai nhi, bác sĩ thú y có thể đưa ra kết luận về sức khỏe của thú cưng mang thai. Qua đó đề xuất về chế độ chăm sóc, lưu ý về dinh dưỡng, vận động…để thai nhi khỏe mạnh. Đặc biệt, siêu âm cũng giúp bác sĩ phát hiện sớm các dấu hiệu bất thường để có các giải pháp điều trị kịp thời, đảm bảo an toàn cho thú cưng trong quá trình mang thai và sinh nở. </p>
                <br>
            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="container main-content">
            <div class="col-lg-6">

                <img src="~/Assets/Client/images/SieuAm1.PNG" class="img-fluid" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <h1>Siêu âm bệnh lý</h1>
                <p>Bên cạnh ứng dụng trong khám thai, công nghệ siêu âm còn thường được dùng để kiểm tra những bộ phận khác trên cơ thể thú cưng như gan, thận, lách, túi mật, dạ dày, ruột…để phát hiện sớm những triệu chứng bất thường và đưa ra lộ trình điều trị phù hợp. </p>
                <p>Với sự phát triển của khoa học kỹ thuật, ngày nay đã có các loại máy siêu âm chuyên dành cho lĩnh vực thú y. Những dòng máy được ưa chuộng nhất phải kể đến như máy siêu âm bàn đẩy DC N3VET, máy siêu âm xách tay thú y DP 10VET, Máy siêu âm cầm tay DP 50VET của Mindray…Được cải tiến với những tính năng chuyên biệt dành cho thú y, đây là những loại máy được các phòng khám ưa chuộng nhất hiện nay</p>
                <br>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="container">
            <h1 class="text-center wow fadeInUp">Đặt lịch khám</h1>

            <div class="d-flex justify-content-center">
                <Button class="m-1 btn btn-primary  " type="submit">
                    <a class="m-1" style="color:white;text-decoration:none" href="@Url.Action("Index","Appointment", new {id =7 })">
                        <i class="fa fa-calendar-check-o"> </i>
                        Now
                    </a>
                </Button>
            </div>
        </div>
    </div>

    <hr />
    <br />
    <div>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v14.0" nonce="l5foJo18"></script>
        <div class="fb-comments" data-href="http://127.0.0.1:5500/web3/indexdokhanhsf.html" data-width="" data-numposts="5"></div>
    </div>
    <br />
    <hr />
    @{ Html.RenderAction("Footer", "Home");}
</body>
</html>