
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="~/Assets/Client/css/service_style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/Client/vendor/fontawesome-free/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/ff1f89259c.js" crossorigin="anonymous"></script>
    <link href="~/Assets/Client/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/Client/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body>





    <!--navigation-->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-branch" href="#">
                <img src="~/Assets/Client/images/Luc.png" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            @{ Html.RenderAction("MainMenu", "Home");}
        </div>
    </nav>
    <div id="map" style="display:flex; justify-content:center;width:30%;height:30%">


    </div>

    @*Api gg map*@
    <script>
        // This example displays a marker at the center of Australia.
        // When the user clicks the marker, an info window opens.
        function initMap() {
            const PetClinic = { lat: 10.801760831629508, lng: 106.71449572272891 };
            const map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: PetClinic,
            });
            const contentString = "PetClinic"
                ;
            const infowindow = new google.maps.InfoWindow({
                content: contentString,
            });
            const marker = new google.maps.Marker({
                position: PetClinic,
                map,
                title: "PetClinic",
            });

            marker.addListener("click", () => {
                infowindow.open({
                    anchor: marker,
                    map,
                    shouldFocus: true,
                });
            });
        }

        window.initMap = initMap;

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7tR_58Yr3wn0splkF22dNsQKbyOWsMoI&callback=initMap"></script>





    <div class="container-wrap">
        <div class="container main-content">
            <div class="col-lg-6">

                <img src="~/Assets/Client/images/Patient_1.PNG" class="img-fluid" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <h1>Nội khoa</h1>
                <p>Đáp ứng nhu cầu về các hình thức chăm sóc sức khỏe thú cưng đa dạng của người nuôi động vật, bác sĩ thú y tại khoa khám bệnh luôn ý thức nâng cao năng lực thường xuyên bằng việc tham gia các chương trình đào tạo dài hạn hoặc ngắn hạn liên tục trong năm. Mục tiêu là cập nhật các kiến thức y khoa thú y một các hiện đại nhất, lựa chọn các phương pháp khám, thủ thuật hiệu quả, không gây stress thú cưng, các loại thuốc mới giảm thiểu phản ứng phụ.</p>


            </div>
        </div>
    </div>
    <div class="container-wrap">
        <div class="container main-content">
            <div class="col-lg-6">

                <img src="~/Assets/Client/images/patient_2.PNG" class="img-fluid" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <h1>Ngoại khoa</h1>
                <p>Đối với một số thủ thuật, thú cưng của bạn sẽ cần được gây mê toàn thân để chúng không bị bất tỉnh và không cảm thấy đau đớn. Nhiều chủ vật nuôi lo lắng về việc vật nuôi của họ được gây mê toàn thân. Chúng tôi có thể đảm bảo với bạn rằng phương pháp gây mê hiện đại nói chung là khá an toàn; để giảm thiểu rủi ro hơn nữa, chúng tôi thực hiện khám sức khỏe và thực hiện xét nghiệm máu trước thời hạn để phát hiện bất kỳ vấn đề sức khỏe tiềm ẩn nào. Ngoài ra, chúng tôi tuân theo một quy trình gây mê cụ thể, bao gồm theo dõi các dấu hiệu quan trọng trong quá trình phẫu thuật, để đảm bảo an toàn cho bệnh nhân của chúng tôi.</p>
                <p>Vui lòng liên hệ với chúng tôi nếu bạn có bất kỳ câu hỏi hoặc thắc mắc nào về việc thú cưng của bạn được gây mê toàn thân hoặc về quy trình mà thú cưng của bạn được lên lịch.</p>


                <br>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="container">
            <h1 class="text-center wow fadeInUp">Đặt lịch khám</h1>

            <div class="d-flex justify-content-center">
                <Button class="m-1 btn btn-primary  " type="submit">
                    <a class="m-1" style="color:white;text-decoration:none" href="@Url.Action("Index","Appointment", new {id =1})">
                        <i class="fa fa-calendar-check-o"> </i>
                        Now
                    </a>
                </Button>
            </div>
        </div>
    </div>
    <br />
    <hr />

    <div style="margin-left:100px; width:100%" class="col-12">
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v14.0" nonce="C2tzRmqD"></script>

        <div class="fb-comments" data-href="https://dohuykhanh.github.io/" data-width="" data-numposts="5"></div>



        <!-- Messenger Plugin chat Code -->
        <div id="fb-root"></div>

        <!-- Your Plugin chat code -->
        <div id="fb-customer-chat" class="fb-customerchat">
        </div>

        <script>
            var chatbox = document.getElementById('fb-customer-chat');
            chatbox.setAttribute("page_id", "109866601748038");
            chatbox.setAttribute("attribution", "biz_inbox");
        </script>
    </div>

    <br />
    <hr />
    @{ Html.RenderAction("Footer", "Home");}
</body>
</html>
