<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Thông tin chi tiết đặt lịch mới từ khách hàng: {{CustomerName}}</title>
</head>
<body>
    <strong>Thông tin chi tiết đặt lịch mới từ khách hàng:</strong> {{CustomerName}} <br />
    <strong> Điện thoại:</strong> {{Phone}} <br />
    <strong>Email:</strong> {{Email}}<br />
    <strong>Ngày đặt lịch:</strong> {{BookingDate}}<br />
    <strong>Giờ khám:</strong> {{BookingTime}} <br />
    <strong>Dịch vụ:</strong> {{Service}}<br />
    <strong>Ghi chú:</strong> {{Note}}<br />
    <br />
    <hr />
    <br />
    <strong>PET CLINIC </strong>
    http://dangduynhat-001-site1.ctempurl.com/
    111-222-3333
    nhatdang261@gmail.com
    475A Dien Bien Phu, Binh Thanh district, HCM, VietNam
</body>
</html>